<h1 class="text-center">Creer un nouveau article</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-2 jumbotron">
                  <% @category.errors.full_messages.each do |message| %>
                    <div class="alert alert-danger">
                       
                            <%= message %>

                      
                    </div>
                     <%end%>
               
            <div class="card">

                <div class="card-body"> 
                    <%= form_for @category do |f| %>
                    <p>
                      <b><%= f.label :Titre_Article, class: 'form-label'  %></b>  
                        <%= f.text_field :name, class: 'form-control' %>
                    </p>
                    <p>
                      <b><%= f.label :Description, class: 'form-label'  %> </b>
                        <%= f.text_area :content, class: 'form-control', placeholder: 'decrivez votre article' %>
                    </p>
   
                    <p>
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </p>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</div>